@font-face{
    font-family: Hanken Grotesk;
    src: url("../fonts/Hanken_Grotesk/static/HankenGrotesk-Regular.ttf")
}
@import "tailwindcss";
@source "../views";

@theme {
    --font-hanken-grotesk: Hanken Grotesk, sans-serif;
}